APPLICATION_HOST=127.0.0.1
APPLICATION_PORT=8081
APPLICATION_JWT_SECRET=development
# for .env.test use docker/test/docker-compose db service name
APPLICATION_DB_HOST=127.0.0.1
APPLICATION_DB_USERNAME=
APPLICATION_DB_PASSWORD=
APPLICATION_DB_DATABASE=budget-tracker
APPLICATION_DB_PORT=5432
APPLICATION_DB_DIALECT=postgres
# for .env.test use docker/test/docker-compose redis service name
APPLICATION_REDIS_HOST=127.0.0.1

APP_SESSION_ID_SECRET=

# Tests configurations
# e2e tests are running in parallel, so we need a strict amount of workers,
# so then we can  dynamically create the same amount of DBs
JEST_WORKERS_AMOUNT=4
SHOW_LOGS_IN_TESTS=false

# pgAdmin config
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_LISTEN_PORT=8001

# To load exchange rates
API_LAYER_API_KEY=

# Logging with Grafana
GRAFANA_LOKI_HOST=https://<your_prefix>.grafana.net
GRAFANA_LOKI_USER_ID=
GRAFANA_LOKI_AUTH=
